<%- include('./partials/method-head') %> 

<main class="main-method-content">

    <article class="article-details article-template">
    <img src="<%= method.template?.url %>" onerror="this.src='assets/logo.svg';" class="image-template-detail-page" alt="foto van <%= method.title %>" />
    </article>

</main>
<%- include('./partials/foot') %>